@import "../../scss/variables";

.hero {
   height: 100%;
   color: $white;

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
   }

   &__heading:not(:last-child) {
      margin-bottom: $m32;
   }

   &__sup-heading {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
   }

   &__learn-more-btn {
      width: 100%;
      max-width: 214px;
      margin-bottom: $m64;
   }
}
