@import "../../scss/variables";

.event {
   position: relative;
   overflow: hidden;

   &:not(.event-preview) {
      max-width: 302px;
      padding: 80px 40px;
      cursor: pointer;

      .event__schedule {
         top: 24px;
         right: 26px;
      }

      .event__img-wrapper {
         display: none;
      }

      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: -16px;
         width: 100%;
         height: 16px;
         background-color: $orange-90;
         transition: bottom 0.2s ease-out;
      }

      &:hover {
         &::before {
            bottom: 0;
         }
      }
   }

   &__heading {
      margin-bottom: 16px;
   }

   &__sup-heading {
      background: linear-gradient(163deg, #a54e2b 0%, #dc9853 100%);
      background-clip: text;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.08em;
      color: transparent;
   }

   &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      opacity: 0.78;

      &:not(:last-child) {
         margin-bottom: 32px;
      }
   }

   &_light-orange {
      background-color: $orange-10;
   }

   &_white {
      background-color: $white;
   }

   &__schedule {
      position: absolute;
   }

   &__start-day,
   &__start-month {
      display: block;
      text-align: right;
   }

   &__start-day {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
   }

   &__start-month {
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
   }
}

.event.event-preview {
   display: grid;
   grid-template-columns: minmax(320px, 435px) minmax(320px, 845px);
   grid-template-rows: minmax(auto, 512px);

   .event__schedule {
      top: 32px;
      right: 32px;
   }
}

.event-preview {
   &__event-info {
      position: relative;
      max-width: 435px;
      height: max-content;
      padding: 61px 90px;
   }
}

.schedule {
   &__date {
      margin-bottom: 16px;
   }

   &__date,
   &__destination {
      display: flex;
      align-items: flex-start;
      line-height: 150%;
   }

   &__image {
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-top: 3px;
      margin-right: 16px;

      > img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__start-event,
   &__end-event {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
   }
}

.preview-img-container {
   &__img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
}

@media screen and (max-width: 992px) {
   .event.event-preview {
      .event__schedule {
         top: 16px;
         right: 20px;
      }
   }

   .event-preview {
      &__event-info {
         padding-left: calc($index * 4.911);
         padding-right: calc($index * 4.911);
         padding-bottom: calc($index * 3.293);
      }
   }
}

@media screen and (max-width: 768px) {
   .event {
      &:not(.event-preview) {
         padding-top: 60px;
         padding-bottom: 40px;

         .event__schedule {
            top: 12px;
            right: 16px;
         }
      }

      &__start-day {
         font-size: 20px;
      }

      &__start-month {
         font-size: 14px;
      }
   }

   .event.event-preview {
      grid-template-columns: 1fr;
      grid-template-rows: calc($index * 32) minmax(auto, max-content);
   }

   .event-preview {
      &__event-info {
         grid-row-start: 2;
         max-width: none;
      }
   }
}
