@import "./scss/variables";

.about-us-main {
   flex-grow: 1;
}

.about-us {
   &__intro {
      height: 419px;
   }
}

.welcome,
.benefits,
.church-members {
   padding-top: $p128;
}

.welcome {
   &__wysiwyg {
      width: 59%;
      min-width: 320px;
   }

   &__img-cards {
      margin-bottom: $m64;
   }

   &__btn {
      position: relative;
      z-index: 1;
      max-width: 205px;
      margin: 0 auto -16px;
   }

   &__link {
      display: block;
      text-align: center;
   }
}

.goals {
   display: flex;
   column-gap: 24px;
   max-width: 767px;
   margin: 0 auto;
}

.benefits {
   &__card-benefit {
      &:not(:last-child) {
         margin-bottom: $m96;
      }
   }

   @media screen and (max-width: 768px) {
      &__card-benefit {
         &:not(:last-child) {
            margin-bottom: $m64;
         }
      }
   }
}

.church-members {
   &__members-wrapper {
      display: flex;
      gap: 24px;
   }

   &__member {
      flex: 0 1 100%;
   }

   @media screen and (max-width: 1200px) {
      &__members-wrapper {
         flex-wrap: wrap;
         max-width: 955px;
         margin: 0 auto;
      }

      &__member {
         flex: 0 1 calc((100% / 3) - (24px / 1.5));
      }
   }

   @media screen and (max-width: 768px) {
      &__members-wrapper {
         justify-content: center;
      }

      &__member {
         flex: 0 1 calc((100% - 24px) / 2);
      }
   }

   @media screen and (max-width: 480px) {
      &__member {
         flex: 0 1 100%;
      }
   }
}
