@import "./scss/variables.scss";

.seremon-hero {
   height: 419px;
   min-height: 235px;
}

.seremon-preview {
   padding-top: 128px;

   &__title {
      max-width: 554px;
      margin: 0 auto $m64;
   }

   &__sup-title {
      text-transform: uppercase;
      margin-bottom: $m16;
   }

   &__event {
      margin-bottom: $m48;
   }

   &__event-button {
      width: 100%;
      max-width: 191px;
      margin-top: $m32;
   }
}

.seremon-events {
   padding-top: 208px;

   &__title {
      margin-bottom: $m64;
      text-align: center;
   }

   &__event-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 302px));
      justify-items: center;
      justify-content: center;
      gap: 24px;
   }
}

@media screen and (max-width: 1320px) {
   .seremon-hero {
      height: calc($index * 19.2115);
   }

   .seremon-preview {
      padding-top: calc($index * 5.87);
   }

   .seremon-events {
      padding-top: calc($index * 9.54);
   }
}
