@font-face {
   font-family: "Roboto Condensed";
   src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
      url("../fonts/RobotoCondensed-Bold.woff") format("woff"),
      url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto Condensed";
   src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
      url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
      url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
