@import "../../scss/variables";

.form {
   &__input-wrap {
      display: flex;
      border: 1px solid $white-opacity-015;
      border-radius: $radius-12;
   }

   &__button {
      max-width: 201px;
   }

   &__subscr-email-input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-top-left-radius: $radius-12;
      border-bottom-left-radius: $radius-12;
      color: $white;
      padding: 0 20px;

      &:focus {
         outline: none;
      }
   }
}
